.returnMessage {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: #ffffec85;
}
.inputBox {
  outline: none;
  border: 1px solid #2c3333;
}
.spinner {
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.mailSuccess {
  position: absolute;
  top: 50%;
  left: 140%;
  transform: translate(-50%, -50%);
  animation-name: mailSuccessCon;
  animation-duration: 3s;
}
@keyframes mailSuccessCon {
  0%,
  40% {
    left: -40%;
  }
  50%,
  90% {
    left: 50%;
  }
  100% {
    left: 140%;
  }
}
.mailErr {
  position: absolute;
  top: 50%;
  left: 140%;
  transform: translate(-50%, -50%);
  animation-name: mailErrCon;
  animation-duration: 3s;
}
@keyframes mailErrCon {
  0%,
  30% {
    left: -40%;
  }
  40%,
  90% {
    left: 50%;
  }
  100% {
    left: -40%;
  }
}
