/* Name Container */
.nameCon {
  position: absolute;
  top: 35%;
  animation-name: nameShow;
  animation-duration: 2s;
}
@keyframes nameShow {
  0%,
  75% {
    top: -50%;
  }
  90% {
    top: 40%;
  }
  100% {
    top: 35%;
  }
}
.nameConHide {
  position: absolute;
  top: -50%;
  animation-name: nameHide;
  animation-duration: 2s;
}
@keyframes nameHide {
  0% {
    top: 35%;
  }
  10% {
    top: 40%;
  }
  25%,
  100% {
    top: -50%;
  }
}

@media (max-width: 992px) {
  .nameCon {
    position: absolute;
    top: 5%;
    animation-name: nameShow;
    animation-duration: 2s;
  }

  @keyframes nameShow {
    0%,
    75% {
      top: -100%;
    }
    90% {
      top: 10%;
    }
    100% {
      top: 5%;
    }
  }
  .nameConHide {
    position: absolute;
    top: -100%;
    animation-name: nameHide;
    animation-duration: 2s;
  }
  @keyframes nameHide {
    0% {
      top: 5%;
    }
    10% {
      top: 10%;
    }
    25%,
    100% {
      top: -100%;
    }
  }
}

.letGoArrowL {
  position: relative;
  left: 0%;
  animation-name: arrowMoveL;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}
@keyframes arrowMoveL {
  0% {
    left: 0%;
    transform: rotate(180deg);
  }
  40% {
    left: -20%;
    transform: rotate(180deg);
  }
  50% {
    left: -20%;
    transform: rotate(0deg);
  }
  90% {
    left: 0%;
    transform: rotate(0deg);
  }
  100% {
    left: 0%;
    transform: rotate(180deg);
  }
}
.letGoArrowR {
  position: relative;
  left: 0%;
  transform: rotate(180deg);
  animation-name: arrowMoveR;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

@keyframes arrowMoveR {
  0% {
    left: 0%;
    transform: rotate(0deg);
  }
  40% {
    left: 20%;
    transform: rotate(0deg);
  }
  50% {
    left: 20%;
    transform: rotate(180deg);
  }
  90% {
    left: 0%;
    transform: rotate(180deg);
  }
  100% {
    left: 0%;
    transform: rotate(0deg);
  }
}
