.goPre {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  color: #2c3333;
  animation: swingDown 2s 2s infinite;
  cursor: pointer;
  z-index: 4;
}

@keyframes swingDown {
  0% {
    top: 0;
  }
  10% {
    top: 0;
  }
  50% {
    top: 2%;
  }
  100% {
    top: 0;
  }
}
.goNxt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #2c3333;
  cursor: pointer;
  animation: swingTop 2s 2s infinite;
  z-index: 4;
}
@keyframes swingTop {
  0% {
    bottom: 0;
  }
  10% {
    bottom: 0;
  }
  50% {
    bottom: 2%;
  }
  100% {
    bottom: 0;
  }
}
