.ProfileImg {
  position: absolute;
  bottom: 10%;
  left: 0%;
  z-index: 3;
  /* background-color: #2c3333;
  border-radius: 66% 34% 88% 12% / 11% 30% 70% 89%; */
  animation-name: ProfileImgMove;
  animation-duration: 1s;
}

@keyframes ProfileImgMove {
  0%,
  50% {
    bottom: 10%;
    left: -100%;
  }
  80% {
    bottom: 10%;
    left: 10%;
  }
  100% {
    bottom: 10%;
    left: 0%;
  }
}
.ProfileImgClose {
  position: absolute;
  bottom: -50%;
  left: -20%;
  z-index: 3;
  animation-name: ProfileImgCloseMove;
  animation-duration: 0.5s;
}

@keyframes ProfileImgCloseMove {
  0% {
    bottom: 10%;
    left: 0%;
  }
  20% {
    bottom: 10%;
    left: 10%;
  }
  50%,
  100% {
    bottom: 10%;
    left: -100%;
  }
}
.brChange {
  border-radius: 66% 34% 88% 12% / 11% 30% 70% 89%;
  animation-name: borderRadiusChange;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}
@keyframes borderRadiusChange {
  0% {
    border-radius: 66% 34% 88% 12% / 11% 30% 70% 89%;
  }
  20% {
    border-radius: 70% 30% 89% 11% / 0% 64% 36% 100%;
  }
  40% {
    border-radius: 70% 30% 89% 11% / 32% 77% 23% 68%;
  }
  60% {
    border-radius: 70% 30% 58% 42% / 57% 77% 23% 43%;
  }
  80% {
    border-radius: 70% 30% 27% 73% / 73% 62% 38% 27%;
  }
  100% {
    border-radius: 66% 34% 88% 12% / 11% 30% 70% 89%;
  }
}
