/* color change */

.bgBlack {
  color: #ffffec;
  background-color: #2c3333;
}
.bgWhite {
  background-color: #ffffec;
  color: #2c3333;
}
.dropSha {
  filter: drop-shadow(3px 1px 1px rgb(0 0 0 / 0.4));
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #ffffec;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background: #2c3333;
  border-radius: 20px;
  margin: 0 2px;
  cursor: pointer;
}
/* all */
.App {
  background-color: #ffffec;
  color: #2c3333;
  font-family: "Josefin Sans", sans-serif;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.headingCon {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #2c3333;
}
.heading {
  width: fit-content;
  border-radius: 10px 10px 0px 0px;
  padding: 10px 10px 5px 10px;
}
.tarketIcon {
  transform: rotate(0deg) scale(1);
  animation-name: tarketIcon;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.connectLink {
  transform: scale(1);
  transition: 0.5s ease;
}
.connectLink:hover {
  transform: scale(1.1);
}
@keyframes tarketIcon {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(190deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.Home {
  position: relative;
  height: 100%;
  display: flex;
  color: #ffffec;
  background-color: #2c3333;
}
