/* color change */

.bgBlack {
  color: #ffffec;
  background-color: #2c3333;
}
/* all */
.App {
  background-color: #ffffec;
  color: #2c3333;
  font-family: "Josefin Sans", sans-serif;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.Home {
  position: relative;
  height: 100%;
  display: flex;
  color: #ffffec;
  background-color: #2c3333;
}
